<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="ambitus.soap" type="Ambitus.Soap.Configuration.ConfigSection, Ambitus.Soap" />
		<section name="ambitus.rest" type="Ambitus.Rest.Configuration.ConfigSection, Ambitus.Rest" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<ambitus.rest baseUrl="https://________/TessituraService" userName="________" userGroup="________" machineName="________" password="________" />
	<ambitus.soap emptyStringLiteral="[]" endpointConfigurationName="TessituraSoapApi" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="TessituraSoapApi" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<textMessageEncoding messageVersion="Soap12" maxReadPoolSize="2147483647" maxWritePoolSize="2147483647">
						<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
					</textMessageEncoding>
					<httpsTransport maxReceivedMessageSize="2147483647" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://________/tessitura.asmx" binding="customBinding" bindingConfiguration="TessituraSoapApi" contract="Internals.ServiceReference.TessituraSoap" name="TessituraSoapApi" />
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="IntermediatesEntities" connectionString="metadata=res://*/Intermediates.csdl|res://*/Intermediates.ssdl|res://*/Intermediates.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NY1-S69\BETA;initial catalog=Intermediates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>